body {
	padding: 0;
	margin: 0;
	background-image: url(./images/malcolm-lightbody-bngTyBvAkDM-unsplash.jpg);
	background-size: 1920px 1080px;
	background-repeat: no-repeat;
}

.container {
	height: 512px;
	width: 400px;
	margin: 50px auto 0;
	border-color: transparent;
	padding: 32px 40px 42px 40px;
	background: rgba(255, 255, 255, 0.28);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(18px);
	margin-top: 200px;
}

#messages {
	height: 450px;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	margin-bottom: 20px;
	padding: 10px;
}

#message {
	width: 260px;
	height: 24px;
	border: 0;
	border-radius: 8px;
	background-color: lightblue;
	padding: 6px 8px;
	outline: none;
	font-size: 12pt;
	font-family: 'Gill Sans', sans-serif;
	color: rgb(25, 25, 25);
}

#message::placeholder {
	font-size: 12pt;
	font-family: 'Gill Sans', sans-serif;
	color: rgb(25, 25, 25);
}

#sendMessage {
	padding-top: 6px;
	text-decoration: none;
	width: 100px;
	height: 42px;
	border: 0;
	border-radius: 8px;
	background-color: lightblue;
	padding: 2px 4px;
	font-size: 14pt;
	font-family: 'Gill Sans', sans-serif;
	color: rgb(25, 25, 25);
	margin-left: 15px;
}

.users__message {
	color: rgb(25, 25, 25);
	background-color: lightblue;
	font-size: 16pt;
	border-radius: 8px;
	width: min-content;
	padding: 10px;
	margin: 12px;
}

@media screen and (min-width: 1920px) {
	body {
		padding: 0;
		margin: 0;
		background-image: url(./images/malcolm-lightbody-bngTyBvAkDM-unsplash.jpg);
		background-size: 2560px 1440px;
		background-repeat: no-repeat;
	}
}
